@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wrapper for Swiper */
.swiper-wrapper {
  width: 100%;
  position: relative;
}

/* Swiper Container */
.swiper-container {
  width: 100%;
  height: auto;
}

/* Slider Card Styling */
.slider-card {
  background-color: #022213;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Custom Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

/* Pagination Dots */
.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: white;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  margin: 0 5px;

  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #2d3035;
}
.bg-fixed {
  background-attachment: fixed;
}
.ant-form {
  display: flex !important;
  flex-direction: column !important;
  justify-items: center !important;
  align-items: center !important;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
#my-input.ant-input-outlined:hover {
  border-color: transparent;
}

.custom-input {
  border-color: #e0e0e0; /* Default border color */
  box-shadow: none; /* Remove default Ant Design shadow */
  transition: all 0.3s ease; /* Smooth transition */
}

.custom-input:hover {
  border-color: #89ad28; /* Custom hover border color */
}

.custom-input:focus {
  border-color: #89ad28 !important; /* Custom focus border color */
  box-shadow: 0 0 0 4px rgba(193, 243, 56, 0.2); /* Light green shadow */
}

.custom-input:not(:focus) {
  border-color: #e0e0e0 !important; /* Remove blue border after blur */
  box-shadow: none !important; /* Remove any shadow after blur */
}
.plane-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 6px -2px #10182808;
  border: 1.5px solid #022213;
  box-shadow: 0px 12px 16px -4px #10182814;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.credit-card-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.credit-card-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hidden checkbox */
.inputs[type="checkbox"] {
  display: none;
}

/* Custom checkbox label */
.labels {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* When the checkbox is checked */
.inputs[type="checkbox"]:checked + label {
  background-color: #c1f338;
  border-color: #c1f338;
}


/* Checkmark icon */
label svg {
  width: 16px;
  height: 16px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Show checkmark when checked */
input[type="checkbox"]:checked + label svg {
  opacity: 1;
}

/* Text next to checkbox */
span {
  margin-left: 8px;
  font-size: 14px;
  color: #555;
  font-family: "Urbanist", sans-serif;
}
.menu-item:hover svg path {
  stroke: black;
}
.custom-select .ant-select-selector {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.custom-select .ant-select-arrow {
  color: #000; /* customize arrow color */
}
.ant-table-pagination.ant-pagination{
  display: none !important;
}
.apexcharts-toolbar {
display: none !important;
}
.ant-tabs-tab-btn{
  color: #2D3035 !important;
  font-size: 18px !important;
  font-weight: 500 !important; 
  line-height: 28px !important;
}
.ant-tabs-ink-bar{
  background-color: #2D3035 !important;
}
.ant-modal-content{

  max-width: 500px !important;
  width: 100% !important;
}

.ant-select-selector{
  border: none !important; 
  border-color: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0px !important;
  
}
.ant-select-selection-item{
  font-size: 16px !important;
  font-family: sans-serif !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}
.ant-select-selection-placeholder{
  font-size: 16px !important;
  font-family: sans-serif !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}
.ant-btn-variant-solid{
  background-color: #C1F338 !important;
  color: #2D3035 !important;
  font-size: 14px !important; 
  font-weight: 600 !important;
  line-height: 20px !important;
  font-family: 'Urbanist', sans-serif;
}
.ant-btn-variant-solid:hover{
  background-color: #7ba016 !important;
}
.ant-modal-close-x{
  margin-left: 0px !important;
}
.ant-modal-title{
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 30px !important;
  color: #2D3035 !important;
  font-family: 'Urbanist', sans-serif !important;
}
.custom-selects .ant-select-selector{
  background-color: transparent !important;

}
.custom-selects .ant-select-arrow{
  color: #000 !important;
}
.custom-selects .ant-select-selection-item{
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  color: #6C737F !important;
  font-family: 'Urbanist', sans-serif !important;
}

.ant-table-wrapper .ant-table-thead >tr>th{
  color: #475467 !important;
  font-weight: 500 !important;
  /* font-size: 10px !important; */
  /* line-height: 18px !important; */
  font-family: 'Urbanist', sans-serif !important;
}
.ant-table-tbody >tr >td {
  color: #475467 !important;
  font-weight: 400 !important;
  /* font-size: 12px !important; */
  /* line-height: 20px !important; */
  font-family: 'Urbanist', sans-serif !important;
}
@media (max-width: 768px) {
  .ant-table-content {
    font-size: 8px !important;
  }
  
.ant-table-tbody>tr>td {
    padding: 14px 4px !important; 
  }
}

.custom-modal .ant-modal-content {
  max-width: 400px !important;
  width: 100% !important;
}
.custom-modal .ant-btn-variant-outlined{
  display: none !important;
}
.custom-modal .ant-btn-variant-solid{
  width: 100% !important;
}