@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wrapper for Swiper */
.swiper-wrapper {
  width: 100%;
  position: relative;
}

/* Swiper Container */
.swiper-container {
  width: 100%;
  height: auto;
}

/* Slider Card Styling */
.slider-card {
  background-color: #022213;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Custom Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  border: none;
  
}

/* Pagination Dots */
.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: white;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  margin: 0 5px;

  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #2d3035;
}
.bg-fixed {
  background-attachment: fixed;
}
.ant-form{
  display: flex!important;
    flex-direction: column!important;
    justify-items: center!important;
    align-items: center!important;
}.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
#my-input.ant-input-outlined:hover {
  border-color: transparent;
}
/* .anticon svg {
  display: none !important;
} */
/* .anticon {
  display: none;
} */
.custom-input {
  border-color: #e0e0e0; /* Default border color */
  box-shadow: none; /* Remove default Ant Design shadow */
  transition: all 0.3s ease; /* Smooth transition */
}

.custom-input:hover {
  border-color: #89AD28; /* Custom hover border color */
}

.custom-input:focus {
  border-color: #89AD28 !important; /* Custom focus border color */
  box-shadow: 0 0 0 4px rgba(193, 243, 56, 0.2); /* Light green shadow */
}

.custom-input:not(:focus) {
  border-color: #e0e0e0 !important; /* Remove blue border after blur */
  box-shadow: none !important; /* Remove any shadow after blur */
}
